body{
    font-family: 'El Messiri', sans-serif; 
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Heebo', sans-serif;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* start header*/
.header{
    background-image: url("../images/banner-bg-3.png"); 
    height: 100vh;    
    background-size: cover; 
    background-position: center center;
   }
   /* */
   .navbar{
       background: rgba(255,255,255,0.30) !important ;
       z-index: 11111111111;
       transition: all .6s ease-in-out;
   }
   .scroll{
     background-color: #3b566e !important ;
     color: #fff !important;
   }
   .navbar .navbar-brand img{
       width:130px;
   }
   .navbar-nav {
       color: #09c;
   }
   .navbar-nav .nav-item{
       margin: 0px 20px;
       font-size: 18px;
       font-weight: 400;
       text-transform: capitalize;
       letter-spacing: 0.01em;
       letter-spacing: 1px;
       position: relative;
       color: #09c;
   }
   .navbar-nav .nav-item .nav-link{
       color: #09c !important;
   }
   .navbar-nav .nav-item::after{
     content: '';
     display: flex;
     position: absolute;
     bottom: 145%;
     left:0%;
     right: 0%;
     background-color: #09c;
     width: 0%;
     height: 2px;
     transition: all .4s ease-in-out;
   }
   .navbar-nav .nav-item:hover::after{
       width: 100%;
   }
   .navbar-nav .nav-item .drop-home{
       border-top: 2px solid #09c;
       background-color: #fff;
       color: #4e4e4e;
       display: flex;
       flex-direction: column;
   }
   .navbar-nav .nav-item .drop-home{
       list-style-type: none;
       font-weight: 400;
       font-size: 15px;
       text-transform: capitalize;
       position: absolute;
       top: 140%;
       left: 0%;
       width: 240px;
       visibility: hidden;
       opacity: 0;
       z-index: 231;
       transition: all .5s ease-in-out;
   }
   .navbar-nav .nav-item .drop-home  a{
       transition: all .5s ease-in-out;
       text-align: left;
       background-color: transparent;
       color: #3b566e !important;
       border: none;
       padding: 10px;
       cursor: pointer;
   }
   .navbar-nav .nav-item .drop-home  a:hover{
       background-color:#3b566e ;
       color: #fff !important;
   }
   .navbar-nav .nav-item:hover .drop-home{
       visibility: visible;
       opacity: 1;
   }
   .content-header .welcome h1{
     color: #3b566e;
     text-transform: capitalize;
     position: relative;
   }
   .content-header .welcome h1::before{
    content: '';
    background-color: #0099cc;
    display: inline;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 100%;
    border-radius: 20px;
    margin-right: 10px;
    }
   .content-header .welcome p{
       color:#3b566e !important ;
       line-height: 35px;
       padding-top: 20px;
   }
   
   @media screen and (max-width:900px){
     .header{
       height: 150vh;
     }
   }
   /*end navbar*/

   /*start team*/
   .team{
    background: #F6FAFE;
    }
  .team-head{
    position: relative;
    color: #3b566e;
    z-index: 1;
    font-size: 50px;
    padding: 50px 0px;
  }
  .team-sub{
    position: absolute;
    margin: auto;
    left: 48%;
    bottom: 25%;
    color: #e6e4e4;
    font-size: 90px;
    z-index: -1;
  }
  .team-head::after{
    content: '';
    height: 1px;
    text-align: center;
    width: 40px;
    background-color: black;
    display: block;
    margin: auto;
    transition: all .3s ease-in-out;
  }
  .team:hover .team-head::after{
    width: 100px;
  }
.team .dynamic-tabs .tabs-list{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

} 
.team .dynamic-tabs .tabs-list li{
   padding: 15px 30px;
   position: relative;
   cursor: pointer;
   transition: all .5s ease-in-out;
}
.team .dynamic-tabs .tabs-list li::after{
  content: '';
  background-color: #09c;
  display: flex;
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  transition: all .5s ease-in-out;
}
.team .dynamic-tabs .tabs-list  .active,
.team .dynamic-tabs .tabs-list li:hover{
  color: #0099cc ;
}
.team .dynamic-tabs .tabs-list  .active::after{
  content: '';
  background-color: #09c;
  display: flex;
  position: absolute;
  width: 40%;
  height: 2px;
  top: 100%;
  transition: all .5s ease-in-out;
}
.team .dynamic-tabs .tabs-list li:hover::after{
width: 40%;
}

.content-list > div:not(:first-child){
  display: none;
}

.team-service h1{
    color: #3b566e;
    text-transform: capitalize;
    position: relative;
  }
.team-service h1::before{
content: '';
background-color: #0099cc;
display: inline;
width: 5px;
height: 100%;
position: absolute;
right: 100%;
border-radius: 20px;
margin-right: 10px;
}
.team-service .single-service{
    background-color: #fff;
    height: 200px;
    line-height: 25px;
    color: #3b566e;
    margin: 55px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.team-service .single-service p{
    color: #09c;
    color: #f1f1f1;
    font-size: 70px;
    position: absolute;
    bottom: 90%;
    left: 0%;
}
.team-features .single-feature{
  height: 280px;
  margin: 20px 0px;
}

.team-features h1{
  color: #3b566e;
  text-transform: capitalize;
  position: relative;
  margin: 30px 0px ;
}
.team-features h1::before{
content: '';
background-color: #0099cc;
display: inline;
width: 5px;
height: 100%;
position: absolute;
right: 100%;
border-radius: 20px;
margin-right: 10px;
}
   /* end team */

/* prod */
.product-content h2{
  color: #3b566e;
  text-transform: capitalize;
  position: relative;
}
.product-content h2::before{
 content: '';
 background-color: #0099cc;
 display: inline;
 width: 5px;
 height: 100%;
 position: absolute;
 right: 100%;
 border-radius: 20px;
 margin-right: 10px;
 }
.product-content p{
    color:#3b566e !important ;
    line-height: 35px;
    padding-top: 20px;
}

/* prod */

/* start intencive programm */
.incentive{
  background-color: #F6FAFE ;
}
.intencive-content h3{
  color: #3b566e;
  text-transform: capitalize;
  position: relative;
}
.intencive-content h3::before{
 content: '';
 background-color: #0099cc;
 display: inline;
 width: 5px;
 height: 100%;
 position: absolute;
 right: 100%;
 border-radius: 20px;
 margin-right: 10px;
 }
.intencive-content p{
    color:#3b566e !important ;
    line-height: 35px;
    padding-top: 20px;
}

/* end invtencive program */


/* start evevnts */
.event-content h3{
  color: #3b566e;
  text-transform: capitalize;
  position: relative;
}
.event-content h3::before{
 content: '';
 background-color: #0099cc;
 display: inline;
 width: 5px;
 height: 100%;
 position: absolute;
 right: 100%;
 border-radius: 20px;
 margin-right: 10px;
 }
.event-content p{
    color:#3b566e !important ;
    line-height: 35px;
    padding-top: 20px;
}
/* end events */

/* Qr */
.Qr{
  background-color: #F6FAFE;
}
.Qr-content h2{
  color: #3b566e;
  text-transform: capitalize;
  position: relative;
}
.Qr-content h2::before{
 content: '';
 background-color: #0099cc;
 display: inline;
 width: 5px;
 height: 100%;
 position: absolute;
 right: 100%;
 border-radius: 20px;
 margin-right: 10px;
 }
.Qr-content p{
    color:#3b566e !important ;
    line-height: 35px;
    padding-top: 20px;
}
/* Qr */


/* security */
.security-head{
  position: relative;
  color: #3b566e;
  z-index: 1;
  font-size: 50px;
  padding: 50px 0px;
}
.security-sub{
  position: absolute;
  margin: auto;
  left: 48%;
  bottom: 25%;
  color: #e6e4e4;
  font-size: 90px;
  z-index: -1;
}
.security-head::after{
  content: '';
  height: 1px;
  text-align: center;
  width: 40px;
  background-color: black;
  display: block;
  margin: auto;
  transition: all .3s ease-in-out;
}
.security:hover .security-head::after{
  width: 100px;
}
.security-card{
  margin: 20px 0px ;
  border: solid 1px #3b566e;
  padding: 20px;
  height: 300px;
  border-radius: 5px;
}
.security-card p{
  color: #3b566e;
  padding-top: 10px;
  font-style: italic;
}
/* security */



/* contact us */
.contact-info{
  background-color: #fff;
  padding: 40px 40px;
}
.contact-info h3{
  color: #4e4e4e;
  position: relative;
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 35px;
  font-family: 'Titillium Web', sans-serif;
}
.contact-info h3::before{
  content: ' ';
  position: absolute;
  height: 3px;
  background-color:#0078ff;
  width: 100px;
  bottom: -12px;
}
.contact-info input,
.contact-info textarea{
  border: 1px solid #ced4da;
  margin: 10px 0px;
  font-size: 1rem;
  line-height: 1.5;
  color:#495057;
  padding: .375rem .75rem;
}
.contact-info .btn{
  padding: .9rem 2.3rem;
  font-size: 1.2rem;
  background-color:#0078ff;
  color:#fff; 
  border-color:#cde1f8 
}
.contact-info .btn:hover{
  background-color:#0062d3;
  color:#fff;
  transition: all .5s ease;
  box-shadow: 0 0 0 4px #cde1f8;
}
.contact-info .register i{
  font-size: 25px;
  padding: 10px ;
  color:#bebebe ;
}
.contact-info .register tr td{
  color: #3b566e;
}
/* contact us */



 /* footer */
 .footer img{
  width:100px;
 }
 /* footer */


/*animation*/

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}
.animate__animated.animate__backInUp{
  --animate-duration: 1s;
}
.animate__animated .animate__fadeInLeft{
  --animate-duration: 1s;
}
.animate__animated .animate__fadeInRight{
  --animate-duration: 2s;
}
.disaper{
  opacity: 0;
}
.apear{
  opacity: 1 !important;
}
